* {
    box-sizing: border-box;
}

* h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

* h2, h3, h4, p, a, blockquote {
    font-family: 'Quicksand', serif;
}

body {
    padding: 50px 0 0 0;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.bold1 {
    font-weight: bold;
    font-family: monospace;
}


.navbar-default {
    background-color: #88B04B;
    border: none;
}

#logo {
    color: #fff;
    padding: 0;
}

.navbar-default .navbar-toggle {
    background-color: #88B04B;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.icon-bar {
    background-color: #ecf035 !important;
}

#logo img {
    height: 100%;
    padding: 5px 18px;
    width: auto;
}

#myNavbar {
    padding: 0;
}

#myNavbar a {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 0 8px;
    text-align: center;
    font-weight: 900;
}

.navbar h4 a {
    color: #fff;
    font-weight: 900;
    padding-top: 5px;
    padding-left: 5px;
    text-decoration: none;
}

#myNavbar a:hover {
    text-align: center;
    color: black;
}

.active a {
    color: #fff !important;
    background-color: #2f7a94 !important;
    font-style: italic;
}

.mainBackground {
    margin:0 auto;
    height: 50vh;
    width: auto;
}

.mainBackgroundImage {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.mainBackgroundImage img {
    height: 60vh;
    padding-right: 30px;
}

.dropdown-menu {
  background-color: #2e3549;
}

.navbar.navbar-default .dropdown-menu > li > a:hover,
.navbar.navbar-default .dropdown-menu>li>a:focus {
  background-color: #2f7a94 !important;
}

.navbar.navbar-default .navbar-nav li.dropdown.open > .dropdown-toggle,
.navbar.navbar-default .navbar-nav li.dropdown.active > .dropdown-toggle,
.navbar.navbar-default .navbar-nav li.dropdown.open.active > .dropdown-toggle {
  background: #2f7a94;
}

/* home */

.welcome {
	padding-left: 50px;
	padding-bottom: 30px;
	font-size: 3vw;
	text-align:center;
}

.projectthumbs {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 10vw;
    justify-content: center;
}

#inv {
    border-radius: 15%;
    width: 10vw;
}

.icon {
    padding-bottom: 50px;
}

@media all and (min-width: 1367px) {
    .projectthumbs #inv {
        width: 10vw;
        height: auto;
        margin: 0 auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .projectthumbs #inv:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    .icon .text a {
        position: relative;
        left: -15px;
        color: rgba(255, 255, 255, 0);
        visibility: hidden;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        text-decoration: none;
    }

    .icon:hover .text a {
        visibility: visible;
        text-decoration: none;
        color: black;
        left: 0px;
    }
}

.license {
    font-size: 10px;
    text-align: right;
}

/* listEmployee */
.listEmp {
	height:95vh;
}

/* Contact */
.contact {
	text-align:left;
	font-size:4vw;
	left: 10vw;
}

.contact a {
		text-decoration: none;
}


/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 5px;
    z-index: 10;
}

.footer p, a {
    font-size: calc(.7em + .2vw);
    color: #878686;
}

.footer a:hover {
    color: #2f7a94;
}

@media only screen and (max-width: 300px) {
    footer {
        height: 50px;
        padding: 5px;
    }
}